--
-- PostgreSQL database dump
--

\restrict PRZhJMjinNd0wTUyUF2JhPNKG4oSm7XtEEywd5rE28rjdZsRmXIHvcMln3jMYbu

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_tutorapplication; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.accounts_tutorapplication (
    id bigint NOT NULL,
    phone character varying(20) NOT NULL,
    location character varying(150) NOT NULL,
    qualification character varying(150) NOT NULL,
    field_of_study character varying(150) NOT NULL,
    experience_years integer NOT NULL,
    skills text NOT NULL,
    teaching_level character varying(50) NOT NULL,
    bio text NOT NULL,
    cv character varying(100) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.accounts_tutorapplication OWNER TO brightskills_user;

--
-- Name: accounts_tutorapplication_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.accounts_tutorapplication ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_tutorapplication_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.accounts_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(20) NOT NULL,
    bio text,
    avatar character varying(200),
    job_title character varying(120) NOT NULL,
    location character varying(150) NOT NULL,
    phone character varying(20) NOT NULL,
    preferred_language character varying(5) NOT NULL
);


ALTER TABLE public.accounts_user OWNER TO brightskills_user;

--
-- Name: accounts_user_groups; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.accounts_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_user_groups OWNER TO brightskills_user;

--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.accounts_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.accounts_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_user_permissions; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.accounts_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_user_user_permissions OWNER TO brightskills_user;

--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.accounts_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_engine_conversation; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.ai_engine_conversation (
    id bigint NOT NULL,
    skill character varying(120) NOT NULL,
    started_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.ai_engine_conversation OWNER TO brightskills_user;

--
-- Name: ai_engine_conversation_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.ai_engine_conversation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_engine_conversation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_engine_interviewassessment; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.ai_engine_interviewassessment (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    is_completed boolean NOT NULL,
    selected_skill character varying(64) NOT NULL,
    interview_language character varying(100) NOT NULL
);


ALTER TABLE public.ai_engine_interviewassessment OWNER TO brightskills_user;

--
-- Name: ai_engine_interviewassessment_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.ai_engine_interviewassessment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_engine_interviewassessment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_engine_interviewresponse; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.ai_engine_interviewresponse (
    id bigint NOT NULL,
    question_key character varying(100) NOT NULL,
    question_text text NOT NULL,
    response_text text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    assessment_id bigint NOT NULL,
    sequence_order integer NOT NULL,
    CONSTRAINT ai_engine_interviewresponse_sequence_order_check CHECK ((sequence_order >= 0))
);


ALTER TABLE public.ai_engine_interviewresponse OWNER TO brightskills_user;

--
-- Name: ai_engine_interviewresponse_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.ai_engine_interviewresponse ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_engine_interviewresponse_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_engine_learningpath; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.ai_engine_learningpath (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    summary text NOT NULL,
    weekly_plan text NOT NULL,
    focus_areas jsonb NOT NULL,
    generated_at timestamp with time zone NOT NULL,
    assessment_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.ai_engine_learningpath OWNER TO brightskills_user;

--
-- Name: ai_engine_learningpath_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.ai_engine_learningpath ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_engine_learningpath_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_engine_learningroadmap; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.ai_engine_learningroadmap (
    id bigint NOT NULL,
    selected_skill character varying(64) NOT NULL,
    title character varying(255) NOT NULL,
    summary text NOT NULL,
    generated_at timestamp with time zone NOT NULL,
    assessment_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.ai_engine_learningroadmap OWNER TO brightskills_user;

--
-- Name: ai_engine_learningroadmap_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.ai_engine_learningroadmap ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_engine_learningroadmap_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_engine_message; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.ai_engine_message (
    id bigint NOT NULL,
    sender character varying(10) NOT NULL,
    content text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    conversation_id bigint NOT NULL
);


ALTER TABLE public.ai_engine_message OWNER TO brightskills_user;

--
-- Name: ai_engine_message_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.ai_engine_message ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_engine_message_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_engine_roadmapstage; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.ai_engine_roadmapstage (
    id bigint NOT NULL,
    order_index integer NOT NULL,
    stage_title character varying(255) NOT NULL,
    stage_objective text NOT NULL,
    learner_actions text NOT NULL,
    practical_exercise text NOT NULL,
    habit_action text NOT NULL,
    course_link character varying(200) NOT NULL,
    ai_support_note text NOT NULL,
    is_completed boolean NOT NULL,
    course_id bigint,
    roadmap_id bigint NOT NULL,
    CONSTRAINT ai_engine_roadmapstage_order_index_check CHECK ((order_index >= 0))
);


ALTER TABLE public.ai_engine_roadmapstage OWNER TO brightskills_user;

--
-- Name: ai_engine_roadmapstage_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.ai_engine_roadmapstage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_engine_roadmapstage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_engine_roleplaymessage; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.ai_engine_roleplaymessage (
    id bigint NOT NULL,
    role character varying(10) NOT NULL,
    content text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    session_id bigint NOT NULL
);


ALTER TABLE public.ai_engine_roleplaymessage OWNER TO brightskills_user;

--
-- Name: ai_engine_roleplaymessage_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.ai_engine_roleplaymessage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_engine_roleplaymessage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_engine_roleplaysession; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.ai_engine_roleplaysession (
    id bigint NOT NULL,
    started_at timestamp with time zone NOT NULL,
    ended_at timestamp with time zone,
    user_id bigint NOT NULL,
    title character varying(140) NOT NULL,
    difficulty character varying(24) NOT NULL,
    selected_skill character varying(64) NOT NULL,
    roadmap_stage_id bigint
);


ALTER TABLE public.ai_engine_roleplaysession OWNER TO brightskills_user;

--
-- Name: ai_engine_roleplaysession_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.ai_engine_roleplaysession ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_engine_roleplaysession_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ai_engine_userskillprofile; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.ai_engine_userskillprofile (
    id bigint NOT NULL,
    selected_skill character varying(64) NOT NULL,
    current_stage_index integer NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT ai_engine_userskillprofile_current_stage_index_check CHECK ((current_stage_index >= 0))
);


ALTER TABLE public.ai_engine_userskillprofile OWNER TO brightskills_user;

--
-- Name: ai_engine_userskillprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.ai_engine_userskillprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_engine_userskillprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO brightskills_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO brightskills_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO brightskills_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: books_bookrecommendation; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.books_bookrecommendation (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    author character varying(255) NOT NULL,
    reason text NOT NULL,
    recommended_at timestamp with time zone NOT NULL,
    source_type character varying(20) NOT NULL,
    source_id integer NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT books_bookrecommendation_source_id_check CHECK ((source_id >= 0))
);


ALTER TABLE public.books_bookrecommendation OWNER TO brightskills_user;

--
-- Name: books_bookrecommendation_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.books_bookrecommendation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.books_bookrecommendation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: certificates_certificate; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.certificates_certificate (
    id bigint NOT NULL,
    issued_at timestamp with time zone NOT NULL,
    course_id bigint NOT NULL,
    user_id bigint NOT NULL,
    certificate_id character varying(24) NOT NULL
);


ALTER TABLE public.certificates_certificate OWNER TO brightskills_user;

--
-- Name: certificates_certificate_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.certificates_certificate ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.certificates_certificate_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_course; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.courses_course (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    difficulty character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    skill_id bigint,
    created_by_id bigint,
    is_active boolean NOT NULL,
    is_published boolean NOT NULL,
    slug character varying(220) NOT NULL
);


ALTER TABLE public.courses_course OWNER TO brightskills_user;

--
-- Name: courses_course_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.courses_course ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_course_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_lesson; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.courses_lesson (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    content text NOT NULL,
    "order" integer NOT NULL,
    course_id bigint NOT NULL,
    video_url character varying(200),
    CONSTRAINT courses_lesson_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.courses_lesson OWNER TO brightskills_user;

--
-- Name: courses_lesson_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.courses_lesson ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_lesson_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_module; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.courses_module (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    youtube_url character varying(200) NOT NULL,
    youtube_video_id character varying(32) NOT NULL,
    order_index integer NOT NULL,
    is_preview boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    course_id bigint NOT NULL,
    content text NOT NULL,
    CONSTRAINT courses_module_order_index_check CHECK ((order_index >= 0))
);


ALTER TABLE public.courses_module OWNER TO brightskills_user;

--
-- Name: courses_module_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.courses_module ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_module_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses_skill; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.courses_skill (
    id bigint NOT NULL,
    name character varying(120) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.courses_skill OWNER TO brightskills_user;

--
-- Name: courses_skill_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.courses_skill ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.courses_skill_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO brightskills_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO brightskills_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO brightskills_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO brightskills_user;

--
-- Name: progress_enrollment; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.progress_enrollment (
    id bigint NOT NULL,
    enrolled_at timestamp with time zone NOT NULL,
    course_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.progress_enrollment OWNER TO brightskills_user;

--
-- Name: progress_enrollment_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.progress_enrollment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.progress_enrollment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: progress_modulecompletion; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.progress_modulecompletion (
    id bigint NOT NULL,
    completed_at timestamp with time zone NOT NULL,
    module_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.progress_modulecompletion OWNER TO brightskills_user;

--
-- Name: progress_modulecompletion_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.progress_modulecompletion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.progress_modulecompletion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: progress_progress; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.progress_progress (
    id bigint NOT NULL,
    completed_modules jsonb CONSTRAINT progress_progress_completed_lessons_not_null NOT NULL,
    completion_percentage numeric(5,2) NOT NULL,
    last_updated timestamp with time zone NOT NULL,
    course_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.progress_progress OWNER TO brightskills_user;

--
-- Name: progress_progress_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.progress_progress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.progress_progress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: progress_quiz; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.progress_quiz (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    pass_score numeric(5,2) NOT NULL,
    course_id bigint NOT NULL,
    module_id bigint,
    quiz_type character varying(10) NOT NULL
);


ALTER TABLE public.progress_quiz OWNER TO brightskills_user;

--
-- Name: progress_quiz_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.progress_quiz ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.progress_quiz_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: progress_quizattempt; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.progress_quizattempt (
    id bigint NOT NULL,
    score numeric(5,2) NOT NULL,
    attempt_date timestamp with time zone NOT NULL,
    quiz_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.progress_quizattempt OWNER TO brightskills_user;

--
-- Name: progress_quizattempt_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.progress_quizattempt ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.progress_quizattempt_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: progress_quizoption; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.progress_quizoption (
    id bigint NOT NULL,
    option_text character varying(255) NOT NULL,
    is_correct boolean NOT NULL,
    question_id bigint NOT NULL
);


ALTER TABLE public.progress_quizoption OWNER TO brightskills_user;

--
-- Name: progress_quizoption_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.progress_quizoption ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.progress_quizoption_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: progress_quizquestion; Type: TABLE; Schema: public; Owner: brightskills_user
--

CREATE TABLE public.progress_quizquestion (
    id bigint NOT NULL,
    prompt text NOT NULL,
    order_index integer NOT NULL,
    quiz_id bigint NOT NULL,
    CONSTRAINT progress_quizquestion_order_index_check CHECK ((order_index >= 0))
);


ALTER TABLE public.progress_quizquestion OWNER TO brightskills_user;

--
-- Name: progress_quizquestion_id_seq; Type: SEQUENCE; Schema: public; Owner: brightskills_user
--

ALTER TABLE public.progress_quizquestion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.progress_quizquestion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_tutorapplication; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: accounts_user; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: accounts_user_groups; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--

COPY public.accounts_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--

COPY public.accounts_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: ai_engine_conversation; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: ai_engine_interviewassessment; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: ai_engine_interviewresponse; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: ai_engine_learningpath; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: ai_engine_learningroadmap; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: ai_engine_message; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: ai_engine_roadmapstage; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: ai_engine_roleplaymessage; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: ai_engine_roleplaysession; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: ai_engine_userskillprofile; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: books_bookrecommendation; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: certificates_certificate; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--

COPY public.certificates_certificate (id, issued_at, course_id, user_id, certificate_id) FROM stdin;
1	2026-03-22 16:53:00.640584+00	11	20	BS-A3F9A78E
2	2026-03-23 14:21:32.074231+00	13	19	BS-A9D78EDB
3	2026-03-23 14:21:32.089853+00	12	19	BS-1958455A
4	2026-03-24 12:27:18.271541+00	13	24	BS-9167F34F
5	2026-03-24 14:08:23.387744+00	11	26	BS-AFA80558
6	2026-03-25 12:46:25.326311+00	11	28	BS-ECD8018B
7	2026-03-26 12:28:34.393565+00	11	30	BS-89E793EA
8	2026-03-26 12:57:45.159838+00	14	24	BS-4DE5098F
9	2026-03-26 13:13:45.538674+00	14	31	BS-B97BAC58
\.


--
-- Data for Name: courses_course; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: courses_lesson; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--

COPY public.courses_lesson (id, title, content, "order", course_id, video_url) FROM stdin;
\.


--
-- Data for Name: courses_module; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: courses_skill; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--

COPY public.courses_skill (id, name, description) FROM stdin;
1	comminication	
2	negotiation	
3	Diagnostic Skill	
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2026-02-23 12:55:18.904142+00	5	brightskill (admin)	2	[{"changed": {"fields": ["Role"]}}]	6	5
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: progress_enrollment; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: progress_modulecompletion; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: progress_progress; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: progress_quiz; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--

COPY public.progress_quiz (id, title, pass_score, course_id, module_id, quiz_type) FROM stdin;
2	MODULE 1 QUIZ	70.00	10	10	module
4	Module 2 quiz	70.00	11	14	module
5	Communication Exam	70.00	11	\N	exam
6	Module 2 quiz	70.00	12	17	module
7	Leadership final exam	70.00	12	\N	exam
8	Modul 1 quiz	70.00	13	19	module
9	Quiz 2	70.00	13	20	module
10	Final Exam	70.00	13	\N	exam
11	qjdjjdjsjjjj	70.00	14	\N	exam
\.


--
-- Data for Name: progress_quizattempt; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: progress_quizoption; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Data for Name: progress_quizquestion; Type: TABLE DATA; Schema: public; Owner: brightskills_user
--



--
-- Name: accounts_tutorapplication_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.accounts_tutorapplication_id_seq', 5, true);


--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.accounts_user_groups_id_seq', 1, false);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.accounts_user_id_seq', 34, true);


--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.accounts_user_user_permissions_id_seq', 1, false);


--
-- Name: ai_engine_conversation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.ai_engine_conversation_id_seq', 79, true);


--
-- Name: ai_engine_interviewassessment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.ai_engine_interviewassessment_id_seq', 47, true);


--
-- Name: ai_engine_interviewresponse_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.ai_engine_interviewresponse_id_seq', 157, true);


--
-- Name: ai_engine_learningpath_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.ai_engine_learningpath_id_seq', 20, true);


--
-- Name: ai_engine_learningroadmap_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.ai_engine_learningroadmap_id_seq', 16, true);


--
-- Name: ai_engine_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.ai_engine_message_id_seq', 223, true);


--
-- Name: ai_engine_roadmapstage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.ai_engine_roadmapstage_id_seq', 62, true);


--
-- Name: ai_engine_roleplaymessage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.ai_engine_roleplaymessage_id_seq', 288, true);


--
-- Name: ai_engine_roleplaysession_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.ai_engine_roleplaysession_id_seq', 83, true);


--
-- Name: ai_engine_userskillprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.ai_engine_userskillprofile_id_seq', 17, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 132, true);


--
-- Name: books_bookrecommendation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.books_bookrecommendation_id_seq', 37, true);


--
-- Name: certificates_certificate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.certificates_certificate_id_seq', 9, true);


--
-- Name: courses_course_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.courses_course_id_seq', 14, true);


--
-- Name: courses_lesson_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.courses_lesson_id_seq', 1, false);


--
-- Name: courses_module_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.courses_module_id_seq', 21, true);


--
-- Name: courses_skill_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.courses_skill_id_seq', 3, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 33, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 41, true);


--
-- Name: progress_enrollment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.progress_enrollment_id_seq', 16, true);


--
-- Name: progress_modulecompletion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.progress_modulecompletion_id_seq', 29, true);


--
-- Name: progress_progress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.progress_progress_id_seq', 18, true);


--
-- Name: progress_quiz_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.progress_quiz_id_seq', 11, true);


--
-- Name: progress_quizattempt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.progress_quizattempt_id_seq', 53, true);


--
-- Name: progress_quizoption_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.progress_quizoption_id_seq', 112, true);


--
-- Name: progress_quizquestion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brightskills_user
--

SELECT pg_catalog.setval('public.progress_quizquestion_id_seq', 28, true);


--
-- Name: accounts_tutorapplication accounts_tutorapplication_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.accounts_tutorapplication
    ADD CONSTRAINT accounts_tutorapplication_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_user_id_group_id_59c0b32f_uniq; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_group_id_59c0b32f_uniq UNIQUE (user_id, group_id);


--
-- Name: accounts_user accounts_user_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq UNIQUE (user_id, permission_id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: accounts_user accounts_user_username_key; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_username_key UNIQUE (username);


--
-- Name: ai_engine_conversation ai_engine_conversation_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_conversation
    ADD CONSTRAINT ai_engine_conversation_pkey PRIMARY KEY (id);


--
-- Name: ai_engine_interviewassessment ai_engine_interviewassessment_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_interviewassessment
    ADD CONSTRAINT ai_engine_interviewassessment_pkey PRIMARY KEY (id);


--
-- Name: ai_engine_interviewresponse ai_engine_interviewresponse_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_interviewresponse
    ADD CONSTRAINT ai_engine_interviewresponse_pkey PRIMARY KEY (id);


--
-- Name: ai_engine_learningpath ai_engine_learningpath_assessment_id_key; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_learningpath
    ADD CONSTRAINT ai_engine_learningpath_assessment_id_key UNIQUE (assessment_id);


--
-- Name: ai_engine_learningpath ai_engine_learningpath_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_learningpath
    ADD CONSTRAINT ai_engine_learningpath_pkey PRIMARY KEY (id);


--
-- Name: ai_engine_learningroadmap ai_engine_learningroadmap_assessment_id_key; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_learningroadmap
    ADD CONSTRAINT ai_engine_learningroadmap_assessment_id_key UNIQUE (assessment_id);


--
-- Name: ai_engine_learningroadmap ai_engine_learningroadmap_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_learningroadmap
    ADD CONSTRAINT ai_engine_learningroadmap_pkey PRIMARY KEY (id);


--
-- Name: ai_engine_message ai_engine_message_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_message
    ADD CONSTRAINT ai_engine_message_pkey PRIMARY KEY (id);


--
-- Name: ai_engine_roadmapstage ai_engine_roadmapstage_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_roadmapstage
    ADD CONSTRAINT ai_engine_roadmapstage_pkey PRIMARY KEY (id);


--
-- Name: ai_engine_roleplaymessage ai_engine_roleplaymessage_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_roleplaymessage
    ADD CONSTRAINT ai_engine_roleplaymessage_pkey PRIMARY KEY (id);


--
-- Name: ai_engine_roleplaysession ai_engine_roleplaysession_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_roleplaysession
    ADD CONSTRAINT ai_engine_roleplaysession_pkey PRIMARY KEY (id);


--
-- Name: ai_engine_userskillprofile ai_engine_userskillprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_userskillprofile
    ADD CONSTRAINT ai_engine_userskillprofile_pkey PRIMARY KEY (id);


--
-- Name: ai_engine_userskillprofile ai_engine_userskillprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_userskillprofile
    ADD CONSTRAINT ai_engine_userskillprofile_user_id_key UNIQUE (user_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: books_bookrecommendation books_bookrecommendation_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.books_bookrecommendation
    ADD CONSTRAINT books_bookrecommendation_pkey PRIMARY KEY (id);


--
-- Name: certificates_certificate certificates_certificate_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.certificates_certificate
    ADD CONSTRAINT certificates_certificate_pkey PRIMARY KEY (id);


--
-- Name: certificates_certificate certificates_certificate_short_certificate_id_key; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.certificates_certificate
    ADD CONSTRAINT certificates_certificate_short_certificate_id_key UNIQUE (certificate_id);


--
-- Name: courses_course courses_course_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.courses_course
    ADD CONSTRAINT courses_course_pkey PRIMARY KEY (id);


--
-- Name: courses_lesson courses_lesson_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.courses_lesson
    ADD CONSTRAINT courses_lesson_pkey PRIMARY KEY (id);


--
-- Name: courses_module courses_module_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.courses_module
    ADD CONSTRAINT courses_module_pkey PRIMARY KEY (id);


--
-- Name: courses_skill courses_skill_name_key; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.courses_skill
    ADD CONSTRAINT courses_skill_name_key UNIQUE (name);


--
-- Name: courses_skill courses_skill_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.courses_skill
    ADD CONSTRAINT courses_skill_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: progress_enrollment progress_enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_enrollment
    ADD CONSTRAINT progress_enrollment_pkey PRIMARY KEY (id);


--
-- Name: progress_modulecompletion progress_modulecompletion_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_modulecompletion
    ADD CONSTRAINT progress_modulecompletion_pkey PRIMARY KEY (id);


--
-- Name: progress_progress progress_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_progress
    ADD CONSTRAINT progress_progress_pkey PRIMARY KEY (id);


--
-- Name: progress_quiz progress_quiz_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_quiz
    ADD CONSTRAINT progress_quiz_pkey PRIMARY KEY (id);


--
-- Name: progress_quizattempt progress_quizattempt_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_quizattempt
    ADD CONSTRAINT progress_quizattempt_pkey PRIMARY KEY (id);


--
-- Name: progress_quizoption progress_quizoption_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_quizoption
    ADD CONSTRAINT progress_quizoption_pkey PRIMARY KEY (id);


--
-- Name: progress_quizquestion progress_quizquestion_pkey; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_quizquestion
    ADD CONSTRAINT progress_quizquestion_pkey PRIMARY KEY (id);


--
-- Name: courses_lesson unique_lesson_order_per_course; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.courses_lesson
    ADD CONSTRAINT unique_lesson_order_per_course UNIQUE (course_id, "order");


--
-- Name: courses_module unique_module_order_per_course; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.courses_module
    ADD CONSTRAINT unique_module_order_per_course UNIQUE (course_id, order_index);


--
-- Name: progress_quizquestion unique_quiz_question_order; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_quizquestion
    ADD CONSTRAINT unique_quiz_question_order UNIQUE (quiz_id, order_index);


--
-- Name: ai_engine_roadmapstage unique_stage_order_per_roadmap; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_roadmapstage
    ADD CONSTRAINT unique_stage_order_per_roadmap UNIQUE (roadmap_id, order_index);


--
-- Name: certificates_certificate unique_user_course_certificate; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.certificates_certificate
    ADD CONSTRAINT unique_user_course_certificate UNIQUE (user_id, course_id);


--
-- Name: progress_enrollment unique_user_course_enrollment; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_enrollment
    ADD CONSTRAINT unique_user_course_enrollment UNIQUE (user_id, course_id);


--
-- Name: progress_progress unique_user_course_progress; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_progress
    ADD CONSTRAINT unique_user_course_progress UNIQUE (user_id, course_id);


--
-- Name: progress_modulecompletion unique_user_module_completion; Type: CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_modulecompletion
    ADD CONSTRAINT unique_user_module_completion UNIQUE (user_id, module_id);


--
-- Name: accounts_tutorapplication_user_id_0bf3b5f2; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX accounts_tutorapplication_user_id_0bf3b5f2 ON public.accounts_tutorapplication USING btree (user_id);


--
-- Name: accounts_user_groups_group_id_bd11a704; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX accounts_user_groups_group_id_bd11a704 ON public.accounts_user_groups USING btree (group_id);


--
-- Name: accounts_user_groups_user_id_52b62117; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX accounts_user_groups_user_id_52b62117 ON public.accounts_user_groups USING btree (user_id);


--
-- Name: accounts_user_user_permissions_permission_id_113bb443; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX accounts_user_user_permissions_permission_id_113bb443 ON public.accounts_user_user_permissions USING btree (permission_id);


--
-- Name: accounts_user_user_permissions_user_id_e4f0a161; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX accounts_user_user_permissions_user_id_e4f0a161 ON public.accounts_user_user_permissions USING btree (user_id);


--
-- Name: accounts_user_username_6088629e_like; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX accounts_user_username_6088629e_like ON public.accounts_user USING btree (username varchar_pattern_ops);


--
-- Name: ai_engine_conversation_user_id_d0fc78fa; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX ai_engine_conversation_user_id_d0fc78fa ON public.ai_engine_conversation USING btree (user_id);


--
-- Name: ai_engine_interviewassessment_user_id_2ab0273e; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX ai_engine_interviewassessment_user_id_2ab0273e ON public.ai_engine_interviewassessment USING btree (user_id);


--
-- Name: ai_engine_interviewresponse_assessment_id_38ac7881; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX ai_engine_interviewresponse_assessment_id_38ac7881 ON public.ai_engine_interviewresponse USING btree (assessment_id);


--
-- Name: ai_engine_learningpath_user_id_5cb3669b; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX ai_engine_learningpath_user_id_5cb3669b ON public.ai_engine_learningpath USING btree (user_id);


--
-- Name: ai_engine_learningroadmap_user_id_73dd2a52; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX ai_engine_learningroadmap_user_id_73dd2a52 ON public.ai_engine_learningroadmap USING btree (user_id);


--
-- Name: ai_engine_message_conversation_id_d04528a2; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX ai_engine_message_conversation_id_d04528a2 ON public.ai_engine_message USING btree (conversation_id);


--
-- Name: ai_engine_roadmapstage_course_id_a22b5e29; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX ai_engine_roadmapstage_course_id_a22b5e29 ON public.ai_engine_roadmapstage USING btree (course_id);


--
-- Name: ai_engine_roadmapstage_roadmap_id_11ac2a4b; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX ai_engine_roadmapstage_roadmap_id_11ac2a4b ON public.ai_engine_roadmapstage USING btree (roadmap_id);


--
-- Name: ai_engine_roleplaymessage_session_id_e8db76ff; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX ai_engine_roleplaymessage_session_id_e8db76ff ON public.ai_engine_roleplaymessage USING btree (session_id);


--
-- Name: ai_engine_roleplaysession_roadmap_stage_id_f59de2fa; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX ai_engine_roleplaysession_roadmap_stage_id_f59de2fa ON public.ai_engine_roleplaysession USING btree (roadmap_stage_id);


--
-- Name: ai_engine_roleplaysession_user_id_e81f281e; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX ai_engine_roleplaysession_user_id_e81f281e ON public.ai_engine_roleplaysession USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: books_bookrecommendation_user_id_ff1c39a6; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX books_bookrecommendation_user_id_ff1c39a6 ON public.books_bookrecommendation USING btree (user_id);


--
-- Name: certificates_certificate_certificate_id_73b7e0b1_like; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX certificates_certificate_certificate_id_73b7e0b1_like ON public.certificates_certificate USING btree (certificate_id varchar_pattern_ops);


--
-- Name: certificates_certificate_course_id_3df6d8a3; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX certificates_certificate_course_id_3df6d8a3 ON public.certificates_certificate USING btree (course_id);


--
-- Name: certificates_certificate_user_id_540f04d7; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX certificates_certificate_user_id_540f04d7 ON public.certificates_certificate USING btree (user_id);


--
-- Name: courses_course_created_by_id_4c488f66; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX courses_course_created_by_id_4c488f66 ON public.courses_course USING btree (created_by_id);


--
-- Name: courses_course_skill_id_a6ee89b9; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX courses_course_skill_id_a6ee89b9 ON public.courses_course USING btree (skill_id);


--
-- Name: courses_course_slug_9c670f14; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX courses_course_slug_9c670f14 ON public.courses_course USING btree (slug);


--
-- Name: courses_course_slug_9c670f14_like; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX courses_course_slug_9c670f14_like ON public.courses_course USING btree (slug varchar_pattern_ops);


--
-- Name: courses_lesson_course_id_16bc4882; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX courses_lesson_course_id_16bc4882 ON public.courses_lesson USING btree (course_id);


--
-- Name: courses_module_course_id_7d4820de; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX courses_module_course_id_7d4820de ON public.courses_module USING btree (course_id);


--
-- Name: courses_skill_name_49eea5e1_like; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX courses_skill_name_49eea5e1_like ON public.courses_skill USING btree (name varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: progress_enrollment_course_id_423522a9; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX progress_enrollment_course_id_423522a9 ON public.progress_enrollment USING btree (course_id);


--
-- Name: progress_enrollment_user_id_1d13182b; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX progress_enrollment_user_id_1d13182b ON public.progress_enrollment USING btree (user_id);


--
-- Name: progress_modulecompletion_module_id_4077332a; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX progress_modulecompletion_module_id_4077332a ON public.progress_modulecompletion USING btree (module_id);


--
-- Name: progress_modulecompletion_user_id_d91ebc2d; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX progress_modulecompletion_user_id_d91ebc2d ON public.progress_modulecompletion USING btree (user_id);


--
-- Name: progress_progress_course_id_4f5909c7; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX progress_progress_course_id_4f5909c7 ON public.progress_progress USING btree (course_id);


--
-- Name: progress_progress_user_id_542208e4; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX progress_progress_user_id_542208e4 ON public.progress_progress USING btree (user_id);


--
-- Name: progress_quiz_course_id_b7b58413; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX progress_quiz_course_id_b7b58413 ON public.progress_quiz USING btree (course_id);


--
-- Name: progress_quiz_module_id_e076ca1f; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX progress_quiz_module_id_e076ca1f ON public.progress_quiz USING btree (module_id);


--
-- Name: progress_quizattempt_quiz_id_ffab86d7; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX progress_quizattempt_quiz_id_ffab86d7 ON public.progress_quizattempt USING btree (quiz_id);


--
-- Name: progress_quizattempt_user_id_32b0af9b; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX progress_quizattempt_user_id_32b0af9b ON public.progress_quizattempt USING btree (user_id);


--
-- Name: progress_quizoption_question_id_ab0c186f; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX progress_quizoption_question_id_ab0c186f ON public.progress_quizoption USING btree (question_id);


--
-- Name: progress_quizquestion_quiz_id_4ff21965; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE INDEX progress_quizquestion_quiz_id_4ff21965 ON public.progress_quizquestion USING btree (quiz_id);


--
-- Name: unique_pending_tutor_application_per_user; Type: INDEX; Schema: public; Owner: brightskills_user
--

CREATE UNIQUE INDEX unique_pending_tutor_application_per_user ON public.accounts_tutorapplication USING btree (user_id) WHERE ((status)::text = 'pending'::text);


--
-- Name: accounts_tutorapplication accounts_tutorapplication_user_id_0bf3b5f2_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.accounts_tutorapplication
    ADD CONSTRAINT accounts_tutorapplication_user_id_0bf3b5f2_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_group_id_bd11a704_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_group_id_bd11a704_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_user_id_52b62117_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_52b62117_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_permission_id_113bb443_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_permission_id_113bb443_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_user_id_e4f0a161_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_user_id_e4f0a161_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_conversation ai_engine_conversation_user_id_d0fc78fa_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_conversation
    ADD CONSTRAINT ai_engine_conversation_user_id_d0fc78fa_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_interviewassessment ai_engine_interviewa_user_id_2ab0273e_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_interviewassessment
    ADD CONSTRAINT ai_engine_interviewa_user_id_2ab0273e_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_interviewresponse ai_engine_interviewr_assessment_id_38ac7881_fk_ai_engine; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_interviewresponse
    ADD CONSTRAINT ai_engine_interviewr_assessment_id_38ac7881_fk_ai_engine FOREIGN KEY (assessment_id) REFERENCES public.ai_engine_interviewassessment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_learningpath ai_engine_learningpa_assessment_id_6b70ffa5_fk_ai_engine; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_learningpath
    ADD CONSTRAINT ai_engine_learningpa_assessment_id_6b70ffa5_fk_ai_engine FOREIGN KEY (assessment_id) REFERENCES public.ai_engine_interviewassessment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_learningpath ai_engine_learningpath_user_id_5cb3669b_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_learningpath
    ADD CONSTRAINT ai_engine_learningpath_user_id_5cb3669b_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_learningroadmap ai_engine_learningro_assessment_id_adbdc035_fk_ai_engine; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_learningroadmap
    ADD CONSTRAINT ai_engine_learningro_assessment_id_adbdc035_fk_ai_engine FOREIGN KEY (assessment_id) REFERENCES public.ai_engine_interviewassessment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_learningroadmap ai_engine_learningroadmap_user_id_73dd2a52_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_learningroadmap
    ADD CONSTRAINT ai_engine_learningroadmap_user_id_73dd2a52_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_message ai_engine_message_conversation_id_d04528a2_fk_ai_engine; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_message
    ADD CONSTRAINT ai_engine_message_conversation_id_d04528a2_fk_ai_engine FOREIGN KEY (conversation_id) REFERENCES public.ai_engine_conversation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_roadmapstage ai_engine_roadmapsta_roadmap_id_11ac2a4b_fk_ai_engine; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_roadmapstage
    ADD CONSTRAINT ai_engine_roadmapsta_roadmap_id_11ac2a4b_fk_ai_engine FOREIGN KEY (roadmap_id) REFERENCES public.ai_engine_learningroadmap(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_roadmapstage ai_engine_roadmapstage_course_id_a22b5e29_fk_courses_course_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_roadmapstage
    ADD CONSTRAINT ai_engine_roadmapstage_course_id_a22b5e29_fk_courses_course_id FOREIGN KEY (course_id) REFERENCES public.courses_course(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_roleplaymessage ai_engine_roleplayme_session_id_e8db76ff_fk_ai_engine; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_roleplaymessage
    ADD CONSTRAINT ai_engine_roleplayme_session_id_e8db76ff_fk_ai_engine FOREIGN KEY (session_id) REFERENCES public.ai_engine_roleplaysession(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_roleplaysession ai_engine_roleplayse_roadmap_stage_id_f59de2fa_fk_ai_engine; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_roleplaysession
    ADD CONSTRAINT ai_engine_roleplayse_roadmap_stage_id_f59de2fa_fk_ai_engine FOREIGN KEY (roadmap_stage_id) REFERENCES public.ai_engine_roadmapstage(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_roleplaysession ai_engine_roleplaysession_user_id_e81f281e_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_roleplaysession
    ADD CONSTRAINT ai_engine_roleplaysession_user_id_e81f281e_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ai_engine_userskillprofile ai_engine_userskillprofile_user_id_58657e52_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.ai_engine_userskillprofile
    ADD CONSTRAINT ai_engine_userskillprofile_user_id_58657e52_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: books_bookrecommendation books_bookrecommendation_user_id_ff1c39a6_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.books_bookrecommendation
    ADD CONSTRAINT books_bookrecommendation_user_id_ff1c39a6_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: certificates_certificate certificates_certifi_course_id_3df6d8a3_fk_courses_c; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.certificates_certificate
    ADD CONSTRAINT certificates_certifi_course_id_3df6d8a3_fk_courses_c FOREIGN KEY (course_id) REFERENCES public.courses_course(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: certificates_certificate certificates_certificate_user_id_540f04d7_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.certificates_certificate
    ADD CONSTRAINT certificates_certificate_user_id_540f04d7_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_course courses_course_created_by_id_4c488f66_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.courses_course
    ADD CONSTRAINT courses_course_created_by_id_4c488f66_fk_accounts_user_id FOREIGN KEY (created_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_course courses_course_skill_id_a6ee89b9_fk_courses_skill_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.courses_course
    ADD CONSTRAINT courses_course_skill_id_a6ee89b9_fk_courses_skill_id FOREIGN KEY (skill_id) REFERENCES public.courses_skill(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_lesson courses_lesson_course_id_16bc4882_fk_courses_course_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.courses_lesson
    ADD CONSTRAINT courses_lesson_course_id_16bc4882_fk_courses_course_id FOREIGN KEY (course_id) REFERENCES public.courses_course(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: courses_module courses_module_course_id_7d4820de_fk_courses_course_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.courses_module
    ADD CONSTRAINT courses_module_course_id_7d4820de_fk_courses_course_id FOREIGN KEY (course_id) REFERENCES public.courses_course(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_enrollment progress_enrollment_course_id_423522a9_fk_courses_course_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_enrollment
    ADD CONSTRAINT progress_enrollment_course_id_423522a9_fk_courses_course_id FOREIGN KEY (course_id) REFERENCES public.courses_course(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_enrollment progress_enrollment_user_id_1d13182b_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_enrollment
    ADD CONSTRAINT progress_enrollment_user_id_1d13182b_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_modulecompletion progress_modulecompl_module_id_4077332a_fk_courses_m; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_modulecompletion
    ADD CONSTRAINT progress_modulecompl_module_id_4077332a_fk_courses_m FOREIGN KEY (module_id) REFERENCES public.courses_module(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_modulecompletion progress_modulecompletion_user_id_d91ebc2d_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_modulecompletion
    ADD CONSTRAINT progress_modulecompletion_user_id_d91ebc2d_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_progress progress_progress_course_id_4f5909c7_fk_courses_course_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_progress
    ADD CONSTRAINT progress_progress_course_id_4f5909c7_fk_courses_course_id FOREIGN KEY (course_id) REFERENCES public.courses_course(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_progress progress_progress_user_id_542208e4_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_progress
    ADD CONSTRAINT progress_progress_user_id_542208e4_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_quiz progress_quiz_course_id_b7b58413_fk_courses_course_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_quiz
    ADD CONSTRAINT progress_quiz_course_id_b7b58413_fk_courses_course_id FOREIGN KEY (course_id) REFERENCES public.courses_course(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_quiz progress_quiz_module_id_e076ca1f_fk_courses_module_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_quiz
    ADD CONSTRAINT progress_quiz_module_id_e076ca1f_fk_courses_module_id FOREIGN KEY (module_id) REFERENCES public.courses_module(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_quizattempt progress_quizattempt_quiz_id_ffab86d7_fk_progress_quiz_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_quizattempt
    ADD CONSTRAINT progress_quizattempt_quiz_id_ffab86d7_fk_progress_quiz_id FOREIGN KEY (quiz_id) REFERENCES public.progress_quiz(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_quizattempt progress_quizattempt_user_id_32b0af9b_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_quizattempt
    ADD CONSTRAINT progress_quizattempt_user_id_32b0af9b_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_quizoption progress_quizoption_question_id_ab0c186f_fk_progress_; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_quizoption
    ADD CONSTRAINT progress_quizoption_question_id_ab0c186f_fk_progress_ FOREIGN KEY (question_id) REFERENCES public.progress_quizquestion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: progress_quizquestion progress_quizquestion_quiz_id_4ff21965_fk_progress_quiz_id; Type: FK CONSTRAINT; Schema: public; Owner: brightskills_user
--

ALTER TABLE ONLY public.progress_quizquestion
    ADD CONSTRAINT progress_quizquestion_quiz_id_4ff21965_fk_progress_quiz_id FOREIGN KEY (quiz_id) REFERENCES public.progress_quiz(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO brightskills_user;


--
-- PostgreSQL database dump complete
--

\unrestrict PRZhJMjinNd0wTUyUF2JhPNKG4oSm7XtEEywd5rE28rjdZsRmXIHvcMln3jMYbu

